.Card {
  background: indigo;
  color: #fff;
  font-weight: bold;
}

/* black shade form 10-1 */
.black10 {
  background: #f2f2f2;
  /* // background-color: blue; */
}
.black9 {
  background: #e6e6e6;
}
.black8 {
  background: #d9d9d9;
}
.black7 {
  background: #cccccc;
}
.black6 {
  background: #bfbfbf;
}
.black5 {
  background: #b3b3b3;
}
