.Feed__status {
  width: 90%;
  margin: 1rem auto;
}

.Feed__status form {
  display: flex;
  align-items: center;
}

.Feed__status form * {
  margin: 0 0.5rem;
}

.Feed__control {
  text-align: center;
}

.new-post__preview-image {
  width: 15rem;
  height: 7rem;
}

@media (min-width: 768px) {
  .Feed__status {
    width: 30rem;
  }
}

.Feed__footer Footer {
  background-color: red;
  margin-top: 0;
}
