.Post {
  margin: 1rem 0;
  border: 1px solid #3b0062;
  border-radius: 5px;
  padding: 0.5rem;
}

.Post__meta {
  font-size: 1rem;
  color: #707070;
  margin: 0;
}

.Post__title {
  font-size: 1.5rem;
  margin: 1rem 0;
  color: #3b0062;
}

.Post__image {
  height: 15rem;
  width: 100%;
}

.Post__actions {
  text-align: right;
}

@media (min-width: 768px) {
  .Post {
    padding: 1rem;
    width: 40rem;
    margin-left: auto;
    margin-right: auto;
  }
}
